footer {
  background-color: cadetblue;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding: 5px;
}

p {
  color: #000;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
}
